.nav{
    padding: 0.5rem 1rem;
    display: flex;
    background: black;
    padding-left: 40px;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-top:10px;
    margin-right: 1rem;
    color: #fff;
}
.nav h2{
    color: #fff;
    background-color: rgb(177, 241, 253);
}